@import 'tailwindcss';
@import '@fontsource/syne/400.css';
@import '@fontsource/syne/700.css';
@import '@fontsource/syne-mono/400.css';

/*https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor*/
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --color-primary: #a8ff78;
  --color-primary-light: rgba(168, 255, 120, 0.08);
  --color-text: #eeeae0;
  --color-text-muted: #5a5a6e;
  --color-background: #07070c;
  --color-background-secondary: #1c1d25;
  --color-background-tertiary: #181921;
  --color-border: rgba(255, 255, 255, 0.07);
  --color-border-hover: rgba(168, 255, 120, 0.3);
  --color-warning: #fac775;
  --color-warning-dark: #ef9f27;

  --spacing-side: 22px;
  --spacing-header: 60px;
  --spacing-footer: 60px;

  --font-syne: 'Syne', sans-serif;
  --font-syne-mono: 'Syne Mono', monospace;

  --animate-fadeUp: fadeUp 0.5s ease both;
  --animate-fadeDown: fadeDown 0.5s ease both;

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-12px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  &:not(.dark) {
    --color-primary: #1a56db;
    --color-primary-light: rgba(26, 86, 219, 0.07);
    --color-text: #18181a;
    --color-text-muted: #4a4a50;
    --color-background: #eceae4;
    --color-background-secondary: #ffffff;
    --color-background-tertiary: #f0efe9;
    --color-border: rgba(24, 24, 26, 0.15);
    --color-border-hover: rgba(26, 86, 219, 0.35);
    --color-warning: #e67e22;
    --color-warning-dark: #d35400;
  }

  @media (min-width: 768px) {
    --spacing-side: 44px;
    --spacing-header: 75px;
    --spacing-footer: 75px;
  }
}

body {
  font-family: 'Syne', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

@utility button-primary {
  color: var(--color-primary);
  background: transparent;
  border: 1px solid var(--color-border-hover);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 8px 18px;
  border-radius: 99px;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: var(--color-primary-light);
  }

  &.filled {
    background: var(--color-primary);
    color: var(--color-background);

    &:hover {
      background: var(--color-primary);
      scale: 1.05;
    }
  }
}
